In [1]:
import math

# Leap Years

In [2]:
#Calculates if the given year is a leap year
def leapYear(year):
    
    #Not Divisible by 4 = Common Year
    if ((year % 4) != 0):
        return False
    
    #Not Divisible by 100 = Leap Year
    if ((year % 100) != 0):
        return True
    
    #Not Divisible by 400 = Common Year
    if ((year % 400) != 0):
        return False
    
    #Not Divisible by 3200 = Leap Year
    if ((year % 3200) != 0):
        return True
    
    #Divisible by All = Common Year
    return False

In [3]:
#Calculates the leap years between a given year range
def leapYears(start, end):
    
    #Calculate leap years
    leapYears = []
    for i in range(start, end + 1):
        if (leapYear(i)):
            leapYears.append(i)
    n = str(len(leapYears))
    
    #Print leap years
    print("There are " + n + " leap years between " + str(start) + " and " + str(end) + ":")
    for i in leapYears:
        if (leapYear(i)):
            print(i)

In [12]:
leapYear(2019)

False

# Day of the Week

In [5]:
#Calculates the day of the week
def dotw(year, month, day):
    
    #Setup
    if (month == 1 or month == 2):
        month = month + 12
        year = year - 1
    yotc = year % 100
    zbc = math.floor(year / 100)
    
    #Logic
    p1 = math.floor((13 * (month + 1)) / 5)
    p2 = math.floor(yotc / 4)
    p3 = math.floor(zbc / 4)
    p4 = 2 * zbc
    zeller = (day + p1 + yotc + p2 + p3 - p4) % 7
    return ((zeller + 5) % 7) + 1

In [13]:
print(dotw(2023, 2, 24))

5

# Calendar of the Year

In [7]:
#Prints out the calendar of the year
def coty(year):
    
    #Month Values
    monthStrings = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", 
                    "Nov", "Dec"]
    monthDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    #Each Month
    for month in range(1, 12 + 1):
        
        #Set Number of Days
        if (month == 2):
            if (leapYear(year)):
                days = 29
            else:
                days = 28
        else:
            days = monthDays[month - 1]
    
        #Set Year String
        yearString = str(year)
        while (len(yearString) < 4):
            yearString = " " + yearString

        #Set Day String
        dm = 1
        dw = dotw(year, month, 1)
        string = ""
        for i in range(1,dw):
            string = string + "    "
        while(dm <= days):
            if (dw == 1 and dm != 1):
                string = string + "\n"
            string = string + " "
            if (dm < 10):
                string = string + "0"
            string = string + str(dm) + " "
            dm = dm + 1
            dw = dw + 1
            if (dw == 8):
                dw = 1

        #Print
        print("          " + monthStrings[month - 1] + " " + yearString)
        print("Mon Tue Wed Thu Fri Sat Sun")
        print(string)
        print()

In [14]:
coty(2023)

          Jan 2023
Mon Tue Wed Thu Fri Sat Sun
                         01
 02  03  04  05  06  07  08
 09  10  11  12  13  14  15
 16  17  18  19  20  21  22
 23  24  25  26  27  28  29
 30  31

          Feb 2023
Mon Tue Wed Thu Fri Sat Sun
         01  02  03  04  05
 06  07  08  09  10  11  12
 13  14  15  16  17  18  19
 20  21  22  23  24  25  26
 27  28

          Mar 2023
Mon Tue Wed Thu Fri Sat Sun
         01  02  03  04  05
 06  07  08  09  10  11  12
 13  14  15  16  17  18  19
 20  21  22  23  24  25  26
 27  28  29  30  31

          Apr 2023
Mon Tue Wed Thu Fri Sat Sun
                     01  02
 03  04  05  06  07  08  09
 10  11  12  13  14  15  16
 17  18  19  20  21  22  23
 24  25  26  27  28  29  30

          May 2023
Mon Tue Wed Thu Fri Sat Sun
 01  02  03  04  05  06  07
 08  09  10  11  12  13  14
 15  16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31

          Jun 2023
Mon Tue Wed Thu Fri Sat Sun
             01  02  03  04
 05  06  07  08  09  10  11
 12  13  14  15  16  17  18
 19  20  21  22  23  24  25
 26  27  28  29  30

          Jul 2023
Mon Tue Wed Thu Fri Sat Sun
                     01  02
 03  04  05  06  07  08  09
 10  11  12  13  14  15  16
 17  18  19  20  21  22  23
 24  25  26  27  28  29  30
 31

          Aug 2023
Mon Tue Wed Thu Fri Sat Sun
     01  02  03  04  05  06
 07  08  09  10  11  12  13
 14  15  16  17  18  19  20
 21  22  23  24  25  26  27
 28  29  30  31

          Sep 2023
Mon Tue Wed Thu Fri Sat Sun
                 01  02  03
 04  05  06  07  08  09  10
 11  12  13  14  15  16  17
 18  19  20  21  22  23  24
 25  26  27  28  29  30

          Oct 2023
Mon Tue Wed Thu Fri Sat Sun
                         01
 02  03  04  05  06  07  08
 09  10  11  12  13  14  15
 16  17  18  19  20  21  22
 23  24  25  26  27  28  29
 30  31

          Nov 2023
Mon Tue Wed Thu Fri Sat Sun
         01  02  03  04  05
 06  07  08  09  10  11  12
 13  14  15  16  17  18  19
 20  21  22  23  24  25  26
 27  28  29  30

          Dec 2023
Mon Tue Wed Thu Fri Sat Sun
                 01  02  03
 04  05  06  07  08  09  10
 11  12  13  14  15  16  17
 18  19  20  21  22  23  24
 25  26  27  28  29  30  31